/*  GENERAL  */

a, h3 {
  text-decoration: none;
  color: #000000;
}

a:hover{
    color: #639400 !important;
}

.btn-primary{
    background-color: #639400 !important;
    border-color: #639400 !important;
}

.btn-primary:active, 
.btn-primary:hover{
    background-color: #fff !important;
    color: #639400 !important;
}

.btn-outline-primary{
    border-color: #639400 !important;
    color: #639400 !important;
}

.btn-outline-primary:active, 
.btn-outline-primary:hover{
    background-color: #639400 !important;
    color: #fff !important;
}

.btn-outline-primary:focus,
.btn-primary:focus{
    box-shadow: none !important;
}

.nav-link{
    color: #000 !important;
}

footer .nav-link{
    color: #fff !important;
}

footer a:hover{
    color: #e0eacc !important;
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-item:active{
	background-color: #639400 !important;
	color: #fff !important;
}

@media (min-width: 1200px){
	.container {
	    max-width: 1420px !important;
	}
}

main{
    min-height: 50rem;
    position: relative;
}


/*  HEADER  */
.top-bar{
	color: #fff;
	text-align: center;
}

.logo-img{
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0px 0px 0.5vw rgb(95, 95, 95);
}

nav .nav-link{
    text-transform: uppercase;
    font-weight: 600;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #17A0BE !important;
}


.page-header{
	padding: 2rem 0;
	background-color: #f4f4f4;
}

/*  HERO  */

.titulo_hero {
display: flex;
justify-content: center;
width: 100%;
padding: 0.3rem 0.3rem;
text-align: center;
font-size: 3rem;  
font-weight: bold;
color: #131D2C !important;
}

.letra {
position: relative;
display: inline-block;
font-size: clamp(1rem, 8vw, 10rem);
transition: all 0.3s ease-in-out;
cursor: pointer;
color: #639400;
font-weight: bold;
}





.hero_img img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

/*  FOOTER  */

.link-dark{
    color: #000;
}

/*  FORMULARIOS  */

.form-select{
	padding: 1rem .75rem !important;
}

.form-signin {
	margin: 5rem auto!important;
    max-width: 400px;
    padding: 15px;
}



/*  SOBRE NOSOTROS  */

.nosotros {
	float: left;
	text-align: center;
	width: 25%;
	margin: 3rem 0 7rem;
}

.nosotros-img {
	width: 15rem;
	margin: 0;
	height: auto;
	border-radius: 50%;
	filter: grayscale(100%);
}

.nosotros-img:hover {
	transition: all .5s ease-in-out;
	filter: none;
}

/*  LISTADO DE PRODUCTOS  */

.img-portada-lista{
    width: 4rem;	
    margin: 0.5rem 0;
}

/*  FICHA DE PRODUCTO  */

.tag{
	background-color: #639400;
	padding: 0.75rem;
	color: #fff;
	border-radius: 8px;
}

.img-portada{
    width: 22rem;	
}

/*  MI PERFIL  */

.avatar{
	font-size: 9rem;
}

/*  TAMAÑOS  */

.filtering {
    margin-bottom: 40px;
}
.filtering span {
    border-bottom: 2px solid transparent;
    color: #282b2d;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 5px;
}
.filtering span:last-child {
    margin: 0;
}
.filtering .active {
    border-color: #17A0BE;
    color: #17A0BE;
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 0.5vw rgb(95, 95, 95);
}

.portfolio-wrapper a, .portfolio-wrapper a:hover{
	color: #fff !important;
}

.portfolio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}
.portfolio-wrapper .portfolio-image img {
    
    will-change: transform;
    transition: all 0.5s ease;
    width: 100%;
}
.portfolio-wrapper:hover .portfolio-image img {
    transform: scale(1.05);
}
.portfolio-overlay:before {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    content: "";
    opacity: 0;
    transition: all 0.5s ease;
    transform: scale(0.85);
}
.portfolio-overlay .portfolio-content {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    padding: 0 35px;
}
.portfolio-content h4 {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.portfolio-content p {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.portfolio-content > a {
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 800;
}
.portfolio-wrapper:hover .portfolio-overlay {
    background-color: #639400;
}
.portfolio-wrapper:hover .portfolio-overlay:before {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
    transform: translateY(50%);
    transition: transform 0.5s ease;
    opacity: 1;
}
@media screen and (max-width: 1199px) {
    .portfolio-content h4 {
        font-size: 18px;
    }
}
@media screen and (max-width: 991px) {
    .portfolio-content h4 {
        margin-bottom: 10px;
    }
    .portfolio-content p {
        font-size: 15px;
    }
    .portfolio-content > a {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 767px) {
    .portfolio-content h4 {
        font-size: 17px;
    }
    .portfolio-content p {
        font-size: 14px;
    }
}
@media screen and (max-width: 575px) {
    .portfolio-content h4 {
        font-size: 16px;
    }
}
.grid .grid-item {
    position: relative;
    overflow: hidden;
}
.grid .grid-item .portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.grid .grid-item .portfolio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}
.grid .grid-item .portfolio-wrapper .portfolio-image img {
    transform: none;
    will-change: transform;
    transition: none;
    width: 100%;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-image img {
    transform: none;
}
.grid .grid-item .portfolio-overlay:before {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    content: "";
    opacity: 0;
    transition: all 0.5s ease;
    transform: scale(0.85);
}
.grid .grid-item .portfolio-overlay .portfolio-content {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
}
.grid .grid-item .portfolio-content h4 {
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 10px;
}
.grid .grid-item .portfolio-content p {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.grid .grid-item .portfolio-content a {
    line-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay {
    background-color: #17A0BE;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay:before {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
    transform: translateY(50%);
    transition: transform 0.5s ease;
    opacity: 1;
}
@media screen and (max-width: 1199px) {
	.contenedor_nosotros {
		flex-direction: column;
		align-items: center;
  justify-content: center;
	}
	
    .grid .grid-item .portfolio-content h4 {
        font-size: 18px;
    }
}
@media screen and (max-width: 991px) {
    .grid .grid-item .portfolio-content h4 {
        margin-bottom: 10px;
    }
    .grid .grid-item .portfolio-content p {
        font-size: 15px;
    }
    .grid .grid-item .portfolio-content a {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 767px) {
    .grid .grid-item .portfolio-content h4 {
        font-size: 17px;
    }
    .grid .grid-item .portfolio-content p {
        font-size: 14px;
    }
}
@media screen and (max-width: 575px) {
    .grid .grid-item .portfolio-content h4 {
        font-size: 16px;
    }
    .grid .grid-item .portfolio-overlay:before {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
}

/*  PÁG ERROR  */

.error-container {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  width: 100%;
	  margin: 24px;
}

